jobs:
  test:
    docker:
      - image: "cimg/node:current"
    steps:
      - checkout
      - node/install
      - run: npm install
      - run: node --version
      - run: openssl version
      - run: npm run decrypt-data-ci
      - run: eval "$(ssh-agent -s)"
      - run: chmod 600 secrets/kp.pem
      - run: ssh-add secrets/kp.pem
      - run: ssh-add -l
      - run: sudo npm run link
      - run: mkdir /home/circleci/.aws && touch /home/circleci/.aws/credentials
      - run: CONTINUOUS_INTEGRATION=1 npm test
orbs:
  node: circleci/node@4.0.0
version: 2.1
workflows:
  test_my_app:
    jobs:
      - test
